doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        title ICT SAVE THE WORLD @KMUTNB (RAYONG)
        link(href="css/bootstrap.min.css",rel="stylesheet")
        link(href="css/bootstrap-theme.min.css",rel="stylesheet")
        link(href="css/style.css",rel="stylesheet")
    
    body
        nav.navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    button(type='button',data-toggle='collapse',data-target='#header-navbar-collapse-1',aria-expanded='false').navbar-toggle.collapsed
                        span.sr-only  Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href='./')#brand.navbar-brand IctClub.
                    
                div#header-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.text-center
                        li.active
                            a(href='#') หน้าแรก
                        li
                            a(href='#') ประวัติชมรม
                        li
                            a(href='#') ผลงานของเรา
                        li
                            a(href='#') ติดต่อเรา
                    ul.nav.navbar-nav.navbar-right.text-center
                        li
                            button(type="button").btn.btn-info.navbar-btn 
                                span.glyphicon.glyphicon-log-in
                                span &nbsp;&nbsp;เข้าสู่ระบบ
                                
        
        .container
            .col-sm-6.hidden-xs
                img(src="img/img-1.png",style="margin-top:22px;").col-xs-12
            .col-xs-12.col-sm-6
                h3.text-center.clearfix
                    span.glyphicon.glyphicon-edit
                    | &nbsp;&nbsp;กรอกรายละเอียดเพื่อสมัครสมาชิกชมรม
                form(method="get",action="#")
                    .form-group.clearfix
                        .col-xs-6
                            input#regis-name.form-control(type="text",name="Name",placeholder="ชื่อ")
                        .col-xs-6    
                            input#regis-surname.form-control(type="text",name="Surname",placeholder="นามสกุล")
                    .form-group.clearfix
                        .col-xs-12
                            input#regis-email.form-control(type="email",name="Email",placeholder="Email Address")
                    .form-group.clearfix
                        .col-xs-12
                            input#regis-password.form-control(type="password",name="Password",placeholder="Password")
                    .form-group.clearfix
                        .col-xs-12
                            input#regis-password-again.form-control(type="password",name="PasswordAgain",placeholder="Re - Enter Password")
                    .form-group.clearfix
                        .col-xs-12
                            input#regis-birthday.form-control(type="date",name="Birthday",placeholder="Birthday")
                    .form-group.clearfix
                        .col-xs-12
                            button.btn.btn-primary.btn-block(type="submit")
                                span.glyphicon.glyphicon-save
                                | &nbsp;&nbsp;ยืนยันการสมัคร
                    
        
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/script.js")