doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        title COMPUTER CLUB @KMUTNB (YAYONG)
        link(rel="stylesheet",href="public/css/bootstap-min.css")
        link(rel="stylesheet",href="css/bootstap-theme.css")
        link(rel="stylesheet",href="css/style.css")
    
    body
        
        .container
            | ERROR
        
        
        
        
        
    
        script(src="js/bootstap.min.js")
        script(src="js/jquery.min.js")
        script(src="js/script.js")