doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        
        block title    
            title ICT SAVE THE WORLD @KMUTNB (RAYONG)
            
        link(href="/css/bootstrap.min.css",rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css",rel="stylesheet")
        link(href="/css/style.css",rel="stylesheet")
    
    body
    
        block content
        
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/script.js")